<%- include('partials/html-start.ejs') %>

<h1>Hello World.</h1>

<p>I'm Saleh Basalim.</p>
    

    <p><%= myResultClient.length %></p>

    <% for (var i=0; i< myResultClient.length; i++ ) { %>
    
        <li> <%= myResultClient[i].userName %> </li>
    
    <% } %> 

    
<li> I be <%= myTypeClient %>, good at mullet, bad at stop talking.</p>

    <form method="get" action="/name">
        <p>Tell us your name! Or something: </p>
        <input type="text" name="ejsFormName" value=" <%=myTypeClient %> "> 
        <input type="submit">
      </form>



    <footer> sent from a file on my node server, yo!

    <a href="https://dev-lab-nov-papa.onrender.com">send<br></a> |

    link tp my repo <a href="https://github.com/salehmb89/dev-lab-nov-papa" target="_blank">Source Code</a>

</footer>

<button class="btn btn-primary">boostrap working?</button>


<%- include('partials/html-end.ejs') %>
